html {
    height: inherit;
}
.doc-nav,
#banner-top,
#header,
#footer,
.feedback,
.banner {
    display: none;
}
.doc-main {
    width: 96%;
    margin: 1%;
}
h1 {
    color: black;
    font-size: 28px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
a:after {
    content: " [" attr(href) "] ";
}
